<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946847195822-9thr6p441p9v500t9m5ppafe2ir656cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946847195822-9thr6p441p9v500t9m5ppafe2ir656cg</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ZwMNbAmY5EOmMA2npIv5Pw2Z9nUrOrY</string>
	<key>GCM_SENDER_ID</key>
	<string>946847195822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AZ.Pixel</string>
	<key>PROJECT_ID</key>
	<string>pixel-9bf1e</string>
	<key>STORAGE_BUCKET</key>
	<string>pixel-9bf1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946847195822:ios:ea68054122dd59f98b033f</string>
	<key>DATABASE_URL</key>
	<string>https://pixel-9bf1e.firebaseio.com</string>
</dict>
</plist>